/* @import url("https://use.typekit.net/edf1wmn.css"); */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #292929;
  /* --rosy: #ff4f81; */
  --light-blue: #B4E4FF;
  --green: #DFFFD8;
  --blue: #95BDFF;
  --pink: #F7C8E0;
  --sand:#fff5d4;
  --white: #f2f2f2;
}

body,
input,
button {
  font-family: "interstate", sans-serif;
}

body {
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

header {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column-reverse;
}

header section {
  width: 100%;
  height: 3.5em;
  padding: 0.5em 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--blue);
}

header section h1 {
  width: fit-content;
  height: 100%;
  font-size: 1em;

  display: flex;
  align-items: center;
  justify-content: center;
}

header section form {
    width: 50%;
  height: 100%;

  display: flex;
  flex-wrap: nowrap;

  visibility: hidden;
}

header section form input{
    width: 40vw;
    height: 90%;
    padding-left: .5em;
    margin-right: 1em;
    border: none;
    border-radius: 5em;

    visibility: hidden;
}

header section > button,
header section form button{
    height: 100%;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    background-color: var(--white);
    position: relative;
    
    visibility: hidden;
  }
  
  header section > button:last-of-type{
    visibility: visible;
  }

  header section button:active{
    background-color: var(--pink);
    box-shadow: none;
  }

  header section form button{
  background-image: url(https://icons.veryicon.com/png/o/miscellaneous/utility/send-26.png);
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  transform: rotate(-90deg);
  transition: .5s;
}

header section > button:first-of-type.admin,
header section form.admin input,
header section form.admin button{
  visibility: visible;
}

header section button:hover,
header section form button:hover{
  /* background-color: var(--pink); */
  box-shadow: 0 0 0 .4em var(--pink);
  background-size: 80%;
}

header section > button:last-of-type::before{
  content: "copyed";
  width: 3em;

  padding: .5em;
  border-radius: 1em;

  position: absolute;
  top: -105%;
  left: calc(50% - 3em /2) ;
  z-index: 10000;
  
  background-color: var(--pink);

  visibility: hidden;
}

header section > button:last-of-type:active::before{
  visibility: visible;
}

header div {
  width: 100%;
  height: 30%;

  background-color: var(--bg);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;

  position: relative;
}

header div iframe {
  width: 100%;
  aspect-ratio: 16/9;
  position: absolute;
}


header div button{
  appearance: none;
  -webkit-appearance: none ;

  border: none;
  background-color: transparent;

  width: 5em;
  height: fit-content;

  position: absolute;
  transition: .5s;

  cursor: pointer;
  display: none;
}

header div button.admin{
  display: block;
}

header div button:hover{
  transform: scale(1.4);
}

header div button:active{
  transform: scale(1);
}

header div span{
  display: block;
  width: 100%;
  height: 100%;
  
  background-color: rgba(255, 0, 0, 0.274);
  
  position: absolute;
}

header div span.admin{
  display: none;
}


@media (min-width: 500px) {
  header div {
    height: 20em;
  }

  header div iframe {
    width: auto;
    height: 100%;
    aspect-ratio: 16/9;
  }
}










/* index main */

main {
  width: 100%;
  height: 100%;
  position: relative;

  background-color: var(--light-blue);
}

main.loggin section,
main.room section:first-of-type {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.room section:last-of-type.hidden,
main.room section:first-of-type.hidden {
  display: none;
}

main.room section:first-of-type h2 {
  height: 3em;
  display: flex;
  align-items: center;
}

main.loggin section form,
main.room section:first-of-type form {
  width: 80%;
  height: 3em;
  height: fit-content;
  margin-bottom: 1em;
}

main.loggin section:first-of-type form input,
main.room section:first-of-type form > input {
  appearance: none;
  -webkit-appearance: none;

  width: 100%;
  height: 100%;
  border-radius: 3em;
  padding-left: 1em;
  border: none;
}

main.loggin section > button,
main.loggin section:first-of-type > a,
main.room section:first-of-type > button {
  appearance: none;
  -webkit-appearance: none;
  width: 40%;
  height: 10%;

  border: none;
  border-radius: 5em;

  background-color: var(--blue);
  cursor: pointer;
  transition: 0.5s;

  text-decoration: none;
  color: var(--bg);
  /* display: grid; */
  place-content: center;

  display: none;
  /* visibility: hidden; */
}

main.loggin section > button{
  /* visibility: visible; */
  display: grid;

  /* margin-bottom: 1em; */
}

main.loggin section > button.startRoom{
  /* visibility: hidden; */
  display: none;

}

main.loggin section:first-of-type > a.startRoom{
  /* visibility: visible; */
  display: grid;

}

main.room section:first-of-type > button {
  /* visibility: visible; */
  display: grid;

}

main.loggin section:first-of-type > a:hover,
main.room section:first-of-type > button:hover {
  background-color: var(--sand);
}

main.loggin section:first-of-type > a:active,
main.room section:first-of-type > button:active {
  transform: scale(0.8);
}


main.loggin section > p{
  padding: 0 .5em;
  margin-bottom: 1em;
  text-align: center;
  display: none;
}

main.loggin section > p.check{
  display: block;
}











/* Chat page */

main.room {
  height: 70vh;
}

main.room section:first-of-type form{
  height: 8em;
}


main.room section:first-of-type form > input{
  height: 4em;
}

main.room section:first-of-type form ul{
  width: 100%;
  height: 3em;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin-top: 1em;

  /* background-color: rgba(255, 0, 0, 0.267); */

}

main.room section:first-of-type form ul li{
  width: 3em;
  height: 3em;

  display: grid;
  place-items: center;
}

main.room section:first-of-type form ul li label{
  width: 100%;
  height: 100%;

  overflow: hidden;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main.room section:first-of-type form ul li:first-of-type label{
  background-image: url(../images/girl-avatar-1.svg);
}

main.room section:first-of-type form ul li:nth-of-type(2) label{
  background-image: url(../images/boy-avatar-2.svg);
}

main.room section:first-of-type form ul li:nth-of-type(3) label{
  background-image: url(../images/girl-avatar-2.svg);
}

main.room section:first-of-type form ul li:nth-of-type(4) label{
  background-image: url(../images/boy-avatar-2.svg);
}

main.room section:first-of-type form ul li input{
  display: none;
}

main.room section:first-of-type form ul li input:checked ~label{
  /* filter: drop-shadow(0 0 .5em var(--blue)); */
  border: solid .3em var(--blue);

}

main.room section:last-of-type {
  width: 100%;
  height: 100%;
  padding: 1em 0;

  background-image: linear-gradient(to top, transparent, var(--white));
  /* border-radius: 8% 8% 8% 8% / 8% 8% 8% 8% ; */

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main.room section:last-of-type>ul {
  width: 95%;
  height: 85%;

  list-style: none;

  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-bottom: 0.5em;

  display: flex;
  flex-direction: column;
}

main.room section:last-of-type>ul::-webkit-scrollbar {
  border-radius: 5em;
  width: 0.5em;

  display: none;
}

main.room section:last-of-type>ul li {
  width: fit-content;
  max-width: 60%;
  height: fit-content;

  margin-top: 1.5em;
  
  /* position: relative; */

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: .5em;
}

main.room section:last-of-type>ul li.note{
  align-self: center;
}

main.room section:last-of-type>ul li.note p{
  background-color: transparent;
  font-size: .8em;
}

main.room section:last-of-type>ul li p{
  width: fit-content;
  max-width: 100%;
  height: fit-content;

  word-wrap: break-word;

  background-color: var(--sand);
  border-radius: 1em;
  padding: 0.5em 1em;

  position: relative;
}

main.room section:last-of-type>ul li div:nth-of-type(2)::before,
main.room section:last-of-type>ul li p::before{
  content: attr(data-username);
  width: fit-content;
  height: fit-content;
  font-size: .7em;
  height: 1em;
  position: absolute;
  top: -1.5em;
  left: 0;
}

main.room section:last-of-type>ul li.message {
  flex-direction: row-reverse;
  align-self: end;
}

main.room section:last-of-type>ul li.message p {
  background-color: var(--green);
}

main.room section:last-of-type>ul li.message div:nth-of-type(2)::before,
main.room section:last-of-type>ul li.message p::before{
  right: 0;
  left: auto;
}

main.room section:last-of-type>ul li::first-letter {
  text-transform: uppercase;
}

main.room section:last-of-type>ul li > div:first-of-type{
  width: 3em;
  height: 3em;

  border-radius: 50%;
  overflow: hidden;
}

main.room section:last-of-type>ul li > div:first-of-type img{
  width: 100%;
  height: 100%;
}

main.room section:last-of-type>ul li div:nth-of-type(2){
  width: fit-content;
  background-color: var(--sand);
  padding: 0.5em;
  border-radius: 1em;

  position: relative;
}

main.room section:last-of-type>ul li div:nth-of-type(2) img{
  width: 40vw;
}

main.room section:last-of-type form {
  width: 95%;
  height: 3em;

  position: absolute;
  bottom: 0.5em;

  display: flex;
  justify-content: space-around;
}

main.room section:last-of-type form:last-of-type{
  width: 100vw;
  height: 7em;
  bottom: 4.2em;
  
  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  visibility: hidden;
}

main.room section:last-of-type form:last-of-type.search{
  visibility: visible;
}

main.room section:last-of-type.focus form:first-of-type::after {
  content: "writing...";
  padding: 0.2em;
  position: absolute;
  color: rgb(56, 56, 56);
  top: -1.7em;
  left: 2em;

  animation: writing 1s infinite both alternate;
}

@keyframes writing {
  form {
    color: rgb(56, 56, 56);
  }
  to {
    color: var(--rosy);
  }
}

main.room section:last-of-type form:last-of-type label input,
main.room section:last-of-type form:first-of-type input {
  appearance: none;
  -webkit-appearance: none;

  width: 100%;
  height: 100%;
  border-radius: 3em;
  padding-left: 1em;
  border: none;
}

main.room section:last-of-type form:last-of-type label input{
  width: 100%;
  height: 2.5em;
  align-self: center;
}

main section form button:focus,
main section form input:focus {
  outline-color: var(--rosy);
  border: 0.5px solid var(--rosy);
}

main.room section:last-of-type > button{
  appearance: none;
  -webkit-appearance: none;

  width: 3em;
  aspect-ratio: 1/1;

  border: none;
  border-radius: 2em;

  position: fixed;
  right: 5em;
  bottom: 1em;

  cursor: pointer;
}

main.room section:last-of-type form:first-of-type>button {
  appearance: none;
  -webkit-appearance: none;

  width: 3.5em;
  height: 3.5em;

  border: none;
  border-radius: 50%;

  background-color: var(--white);
  background-image: url(https://icons.veryicon.com/png/o/miscellaneous/utility/send-26.png);
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: 70%;
}

main.room section:last-of-type form:first-of-type>button:active {
  background-color: var(--rosy);
}

main.room section:last-of-type form:last-of-type ul{
  height: 5em;
  list-style: none;
  padding: .5em 0 0 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: auto;
  scroll-snap-type: x mandatory;
  visibility: hidden;
}

main.room section:last-of-type form:last-of-type ul.search{
  visibility: visible;
}

main.room section:last-of-type form:last-of-type ul::-webkit-scrollbar{
  display: none;
}

main.room section:last-of-type form:last-of-type ul li{
  width: fit-content;
  height: 100%;
  margin-left: .5em;
}

main.room section:last-of-type form:last-of-type ul li button{
  appearance: none;
  -webkit-appearance: none;

  height: 5em;
  width: fit-content;

  border: none;
  border-radius: .5em;

  overflow: hidden;

  cursor: pointer;
}

main.room section:last-of-type form:last-of-type ul li button:hover img{
transform: scale(1.3);
}

main.room section:last-of-type form:last-of-type ul li button img{
  display: block;
  width: auto;
  height: 100%;
  transition: .5s
}

main.room section:last-of-type form:last-of-type label{
  padding: 0 .5em;
  position: relative;

  display: flex;
  align-items: center;
}

main.room section:last-of-type form:last-of-type label button{
  width: 2em;
  aspect-ratio: 1/1;

  border: none;
  border-radius: 2em;

  position: absolute;
  right: 2em;

  background-color: transparent;
  background-image: url(https://cdn-icons-png.flaticon.com/512/45/45301.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;

  cursor: pointer;
}