<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") -%>

    <body>
        <header>
            <section>
                <h1>Streamy-Chan</h1>
                <form>
                    <input type="text" name="url" id="url" placeholder="link..." required />
                    <button type="button"></button>
                </form>
                <button>stop</button>
                <button>link</button>
            </section>

            <div>
                <iframe id="roomIframe" src="" frameborder="0" allowfullscreen></iframe>

                <button><svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
                        <path class="ytp-large-play-button-bg"
                            d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
                            fill="#f00"></path>
                        <path d="M 45,24 27,14 27,34" fill="#fff"></path>
                    </svg></button>
                <span></span>
            </div>
        </header>

        <main class="room">
            <section>
                <h2>Choose your username</h2>
                <form>
                    <input type="text" id="username-input" placeholder="Enter your username" pattern="[^\s]+"
                        minlength="3" maxlength="10" required />
                </form>
                <button>Start chatting</button>
            </section>

            <section>
                <ul data-room=" <%- roomID %> "></ul>
                <form>
                    <input type="text" name="message" id="message-input" placeholder="Chatting ..." required />
                    <button type="submit" id="message-button"></button>
                </form>

                <button>gif</button>

                <form>
                    <ul>
                        <li>
                            <button>
                                <img src="https://thumbs.gfycat.com/WelllitAshamedArthropods-small.gif" alt="">
                            </button>
                        </li>
                    </ul>
                    <label for="">
                        <input type="text" name="gifsearch" id="gifsearch" placeholder="search gifs ...">
                        <button id="gif-button"></button>
                    </label>
                </form>
            </section>
        </main>
        <%- include("./partials/footer.ejs") -%>
            <script src="./script/scriptroom.js"></script>
            <script>
                var theIframe = document.getElementById('#roomIframe');
                var player = new YT.Player(theIframe, {
                    events: {
                        'onReady': function () {
                            player.playVideo();
                        }
                    }
                });
            </script>
    </body>

</html>